/* GLOBAL */

:root {
    --main-color: #31100e;
    --main-color-lighter: #b7ab59;
    --background-color: #f3f3f4;
    /* --border-color : #d9d9d9; */
    --black: black;
    --white: white;
    --font: 'Montserrat', sans-serif;
    --fancy-font:  'Homemade Apple', cursive;
}


* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--font);
    background: url(images/leone-venter-VieM9BdZKFo-unsplash.jpg) no-repeat top right;
    background-size: cover;
    background-color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0 0 1em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


li {
    list-style-type: none;
}

span {
    font-weight: bold;
    color: var(--main-color);
}

span:hover {
    color: var(--main-color-lighter);
}

button {
    cursor: pointer;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

a, button {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover, a:focus, a:active {
    color: var(--main-color-lighter);
}

.container, .headerContainer {
    padding: 0 50px;
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER *************************************************/

.headerContainer {
    display: flex;
    justify-content: top;  
    padding: 50px ;   

}

.headerContainer h1 {
    font-family: var(--fancy-font);
}

.section {
    height: 100%;
    width: 100%;
    display: flex;
    
}







.text li {
    padding: 20px 0 0 0;
}

/* 
.text, .img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


/* 
.img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    
} */

